/**
 * Hero subheader (components/_hero-subheader.scss)
 */

$iconSize: 2474px / 2;


@keyframes scroll {
	100% {
		transform: translate3D($iconSize * -1, $iconSize * -1, 0);
	}
}


/* ----- General ----- */
.hero-subheader {
	color: $color-dark-blue;
	background-color: $color-theme-blue;
	padding: 3.75rem 0 (4.6875rem - 1.25rem) 0;
	position: relative;
	overflow: hidden;

	@media (min-width: $screen-sm-min) {
		padding: 9.375rem 0 (10.3125rem - 1.25rem) 0;
	}
	
	.icons {
		background: #FFF057 url(/assets/images/icons-tile.png);
		background-size: $iconSize;
		position: absolute;
		width: 400%;
		top: 0;
		left: 0;
		height: $iconSize + $iconSize;
        -webkit-animation:60s scroll infinite linear;
         -moz-animation:60s scroll infinite linear;
         -o-animation:60s scroll infinite linear;
         -ms-animation:60s scroll infinite linear;
         animation: 60s scroll infinite linear;
         opacity: 0.6;
         pointer-events: none;
	}
	.btn {
		margin-right: .9375rem;
	}

	.btn--github,
	.btn--w-arrow-down {
		@extend .btn--dark;
	}

	.site-header + & {
		padding: 9.375rem 0 (4.6875rem - 1.25rem) 0;

		@media (min-width: $screen-sm-min) {
			padding: 15rem 0 (10.3125rem - 1.25rem) 0;
		}
	}
}

.hero-subheader--before-out {
	@media (min-width: $screen-sm-min) {
		padding: 9.375rem 0 (15.3125rem - 1.25rem) 0;
	}
}

/* ----- Title ----- */
.hero-subheader__title {
	margin-top: 0;
}

/* ----- Title ----- */
.hero-subheader__desc {
	margin-bottom: 1.875rem;
}

/* ----- Author ----- */
.hero-subheader__author {
	border-left: 2px solid;
	padding-left: 2.5rem;

	.btn {
		margin-bottom: 0;
	}
}

.hero-subheader__author-title {
	font-size: $font-size-h5;
}

/* ----- More ----- */
.hero-subheader__btn-more {
	color: inherit;
}
